<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LibraryManagementSystem</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column"> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="booksmanager">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Manage Books
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rentalmanager">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Manage Rentals
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="membersmanager">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Manage Members
            </NavLink>
        </div> 
    </nav>
</div>
